.createInvoice {

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.contentCreateInvoice {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap; /* Added flex-wrap property */
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  width: 100%;
}

.left_section {
  margin-top: 5%;
  flex: 1;
  margin-bottom: 20px; /* Added margin-bottom for spacing */
}

.right_section {
  margin-top: 5%;
  flex: 1;
  margin-bottom: 20px; /* Added margin-bottom for spacing */
}

@media (max-width: 768px) {
  .content {
    flex-direction: column; /* Change to column layout on smaller screens */
  }

  .left_section,
  .right_section {
    margin-bottom: 0; /* Remove margin-bottom on smaller screens */
  }
}